* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: cornflowerblue ;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1{
  color: #1b1b32;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.mulgogi-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mulgogi-logo{
  width: 400px;
  height: 300px;
}

/* este estilo se aplica a la lista de tareas*/

.to-do-lista-principal{
  width: 600px;
  min-height:500px ;
  background-color: lightcoral;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}
